__pycache__/auxiliar.cpython-313.pyc
__pycache__/distribuidor.cpython-313.pyc
__pycache__/entradaSalida.cpython-313.pyc
__pycache__/modelo.cpython-313.pyc
__pycache__/salida.cpython-313.pyc
datos/salida.csv
